:root {
  --background: hsl(0 0% 95%);
  --foreground: hsl(0 20% 10%);

  --card: hsl(0 0% 95%);
  --card-foreground: hsl(230 20% 20%);

  --popover: hsl(0 0% 95%);
  --popover-foreground: hsl(230 20% 20%);

  --primary: hsl(230 20% 20%);
  --primary-foreground: hsl(0 0% 95%);

  --secondary: hsl(0 0% 75%);
  --secondary-foreground: hsl(230 20% 20%);

  --muted: hsl(220 14% 96%);
  --muted-foreground: hsl(220 9% 46%);

  --accent: hsl(355 85% 55%);
  --accent-foreground: hsl(0 0% 95%);

  --destructive: hsl(0 84% 60%);
  --destructive-foreground: hsl(0 0% 95%);

  --border: hsl(220 13% 91%);
  --input: hsl(220 13% 91%);
  --ring: hsl(355 85% 55%);

  --radius: 0.5rem;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.container {
  max-width: 1280px;
  margin-inline: auto;
  padding-inline: 1rem;
}
