.container {
  background-color: var(--foreground);
  color: var(--primary-foreground);
  font-size: 0.875rem;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0;
}
