.container {
  background-color: var(--primary);
  border-bottom: 0.25rem solid var(--accent);
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
