.wrapper {
  display: flex;
  gap: 2rem;
  padding: 0.5rem 0;
}

.icon {
  width: 16px;
  height: 16px;
}


.link {
  color: var(--primary-foreground);
  text-decoration: none;
  transition: color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.25rem;

  &:hover {
    color: var(--active);
  }
}
