.icon {
  width: 16px;
  height: 16px;
}

.button {
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  gap: 0.5rem;
  color: var(--background);
  transition: color 0.3s ease;
  background-color: transparent;
  cursor: pointer;

  &:hover {
    color: var(--accent);
  }
}

.container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
